{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product-header mb-4">
                    <h2 class="text-uppercase text-black">Send email to subscribed users</h2>
                </div>
                <div class="light-bg rounded p-3">
                    <form method="post" class="mt-3">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="subject" class="form-control"
                                   aria-label="Subject field" placeholder="Subject"
                                   value="{{ form.subject.value|default_if_none:'' }}">
                        </div>
                        <div class="form-group">
                            <textarea name="body" class="form-control"
                                      aria-label="Body of the letter"
                                      placeholder="Type here">{{ form.body.value|default_if_none:'' }}</textarea>
                        </div>
                        <button type="submit" class="btn btn-main">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
