html {
    height: 100%;
}

body {
    color: #555;
    background-color: #999;
    font-family: 'Lato'; /* add a fallback font */
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: lowercase;
}

.strikethrough {
    text-decoration: line-through;
}

.outlined {
    text-shadow: -1px -1px 0 #333,
                  1px -1px 0 #333,
                 -1px 1px 0 #333,
                  1px 1px 0 #333;
}

.align-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto 0;
}

.grey-bg {
    background-color: #444;
}

.light-grey-bg {
    background-color: #888;
}

.overlay{
    position: absolute;
    background-color: rgba(255,0,0,0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.overlay > h3 {
    position: absolute;
    bottom: 5rem;
    padding: 0.7rem 0;
    left: 0;
    right: 0;
}

.card-darken {
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.card-darken:hover {
    background-color: rgba(0,0,0,0);
}

.card-darken a {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 15;
}

.main-logo-link {
    width: fit-content;
}

.text-black {
    color: #000 !important;
}

.btn-secondary {
    background-color: #333 !important;
    color: white !important;
    padding: 1rem 1.3rem;
}

.btn-secondary:hover {
    background-color: #111 !important;
    color: #e67300 !important;
}

.border-black {
    border: 1px solid black !important;
}

.search-bar {
    background-color: white;
    border: 2px solid #e67300;
    border-radius: 3rem;
    padding-left: 15px;
}

header {
    height: 5.5rem;
    background-color: #e67300;
}

.header-container {
    padding-top: 8rem;
}

.highlight-color {
    color: #e67300;
}

.nav-link {
    color: #e67300;
}

.nav-link:hover {
    color: #fff;
}

.nav-dropdown {
    background-color: #333;
    opacity: 0.8;
}

.dropdown-item {
    color: #ccc;
}

.dropdown-item:hover{
    background-color: #e67300;
}

.product-count-label {
    position: absolute;
    top: -4px; /* Располагаем кружок над значком */
    right: -4px; /* Располагаем кружок справа от значка */
    background-color: #FF0000FF; /* Цвет кружка */
    color: white; /* Цвет текста внутри кружка */
    border-radius: 50%; /* Создаем круглый кружок */
    border: 1px solid #B70000FF;
    width: 1.7rem; /* Ширина кружка */
    height: 1.7rem; /* Высота кружка */
    font-size: 1rem; /* Размер текста */
    line-height: 1.5rem; /* Высота текста */
    text-align: center; /* Центрируем текст внутри кружка */
}

.content-area {
        min-height: calc(100vh - 16rem); /* 164px - size of header */
    }

footer {
    height: 8rem;
    color: #e67300;
    background-color: #444;
    padding: 15px;
    /*position: static;*/
    /*bottom: 0;*/
}

.social-links i {
    margin: 0.3rem 0.3rem;
}
.social-links i:hover {
    color: white;
    font-size: 2.3rem;
    margin: 0 0.15rem;
}

.subscription-container {
    height: 20rem;
}

/* PRODUCTS PAGES */

.card-product{
    border: 3px solid #999;
}
.card-product:hover{
    border: 3px solid #e67300;
}

.image-container{
    border: 2px solid #e67300;
    /*width: 30vw;*/
    /*height: 60vh;*/
    /*border-radius: 1rem;*/
    /*background-color: #777;*/
}

.product-details-container {
    background-color: rgba(255,255,255, 0.7);
    padding: .5rem;
    border-radius: 1rem;
}

.product-header {
    background-color: #e67300;
    padding: 10px;
    border-radius: 2rem;
    text-align: center;
}

.btn-main {
    color: #fff;
    background-color: #e67300;
    border: 1px solid #e67300;
}

.btn-main:hover {
    color: #e67300;
    background-color: initial;
}

.btn-back {
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
}

.btn-back:hover {
    background-color: initial;
    color: #333;
}

.sorting-area {
    background-color: #888;
    color: #444;
}

.sort-link {
    color: #ddd;
    text-decoration: none;
    text-align: center;
}

.sort-link:hover {
    color: #fff;
    text-decoration: none;
}

.brand-container {
    width: 100%;
    background-color: #222;
    color: white;
    padding: 3px;
    border: 1px solid #222;
    border-radius: 2rem;
    text-align: center;
    margin-top: .5rem;
}

.brand-container:hover {
    color: #e67300;
    border: 1px solid #e67300;
}

thead {
    background-color: #333;
}
/* Allauth form formatting */

.allauth-header {
    margin-top: 1.8rem;
    background-color: #e67300;
    color: #333;
    border-radius: 5rem;
}

.allauth-header h2 {
    padding: 10px;
    padding-left: 2rem;
}
.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #666;
}

.allauth-form-inner-content input {
    border-color: #e67300;
    border-radius: 5rem;
}

.allauth-form-inner-content label:not([for='id_remember']){
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #888;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #e67300;
    border: 1px solid #e67300;
    padding: .7rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #000;
    background-color: #fff;
    border-color: #333;
}

.allauth-form-inner-content a {
    color: #e67300;
}

.allauth-form-inner-content .btn-secondary:hover {
    background-color: #fff!important;
    color: #000!important;
}

/* MEDIA QUERIES */
/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .btn-secondary {
        padding: .7rem 1rem;
    }
    .search-bar {
        border: 1px solid black;
    }
}

/*!* pad the top a bit when navbar is collapsed on mobile *!*/
/*@media (max-width: 991px) {*/
/*    .header-container {*/
/*        padding-top: 116px;*/
/*    }*/

/*    body {*/
/*        height: calc(100vh - 116px);*/
/*    }*/
/*}*/