html {
    height: 100%;
}

body {
    color: #555;
    background-color: #999;
    font-family: 'Lato'; /* add a fallback font */
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: lowercase;
}

.strikethrough {
    text-decoration: line-through;
}

.align-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto 0;
}

.overlay{
    position: absolute;
    background-color: rgba(255,0,0,0.5);
    top: 0;
    left: 0;
    height: 100%;
}

.overlay > h3 {
    position: absolute;
    bottom: 5rem;
    padding: 0.7rem 0;
    left: 0;
    right: 0;
}
.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.btn-secondary {
    background-color: #333 !important;
    color: white !important;
    padding: 1rem 1.3rem;
}

.btn-secondary:hover {
    background-color: #111 !important;
    color: #e67300 !important;
}

.border-black {
    border: 1px solid black !important;
}

.search-bar {
    background-color: white;
    border: 2px solid #e67300;
    border-radius: 3rem;
    padding-left: 15px;
}

header {
    height: 5.5rem;
    background-color: #e67300;
}

.header-container {
    padding-top: 8rem;
}

.nav-link {
    color: #e67300;
    /*padding: 1rem 1.3rem;*/
}

.nav-link:hover {
    color: #fff;
}

.navbar-nav {
    background-color: #333;
    padding-left: 20px;
}

.nav-dropdown {
    background-color: #333;
    opacity: 0.8;
}

.dropdown-item {
    color: #ccc;
}

.dropdown-item:hover{
    background-color: #e67300;
}

.content-area {
        min-height: calc(100vh - 16rem); /* 164px - size of header */
    }

footer {
    height: 8rem;
    color: #e67300;
    background-color: #333;
    padding: 15px;
    /*position: static;*/
    /*bottom: 0;*/
}

.social-links i {
    margin: 0.3rem 0.3rem;
}
.social-links i:hover {
    color: white;
    font-size: 2.3rem;
    margin: 0 0.15rem;
}

.subscription-container {
    height: 20rem;
}


/* Allauth form formatting */

.allauth-header {
    margin-top: 1.8rem;
    background-color: #e67300;
    color: #333;
    border-radius: 5rem;
}

.allauth-header h2 {
    padding: 10px;
    padding-left: 2rem;
}
.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #666;
}

.allauth-form-inner-content input {
    border-color: #e67300;
    border-radius: 5rem;
}

.allauth-form-inner-content label:not([for='id_remember']){
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #888;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #e67300;
    border: 1px solid #e67300;
    padding: .7rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #000;
    background-color: #fff;
    border-color: #333;
}

.allauth-form-inner-content a {
    color: #e67300;
}

.allauth-form-inner-content .btn-secondary:hover {
    background-color: #fff!important;
    color: #000!important;
}

/* MEDIA QUERIES */
/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .main-nav {
        background-color: #333;
    }
    .btn-secondary {
        padding: .7rem 1rem;
    }
    .search-bar {
        border: 1px solid black;
    }
    /*.subscription-container {*/
    /*    width: 20rem!important;*/
    /*}*/
}