<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto outlined">
        <li class="nav-item">
            <a class="nav-link text-uppercase mr-5" href="#">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-uppercase mr-5" href="{% url 'check_subscription' %}">Lessons</a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold text-uppercase nav-link mr-5" href="#" id="guitars-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Guitars
            </a>
            <div class="dropdown-menu nav-dropdown border-0" aria-labelledby="guitars-link">
                <a href="{% url 'products' %}?category=acoustic" class="dropdown-item">Acoustic Guitars</a>
                <a href="{% url 'products' %}?category=electric" class="dropdown-item">Electric Guitars</a>
                <a href="{% url 'products' %}?category=bass" class="dropdown-item">Bass Guitars</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold text-uppercase nav-link mr-5" href="#" id="drums-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Amps
            </a>
            <div class="dropdown-menu nav-dropdown border-0" aria-labelledby="drums-link">
                <a href="#" class="dropdown-item">Drums & Percussion</a>
                <a href="#" class="dropdown-item">Base</a>
                <a href="#" class="dropdown-item">Accessories</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold text-uppercase nav-link mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu nav-dropdown" aria-labelledby="accessories-link">
                <a href="#" class="dropdown-item">For guitar</a>
                <a href="#" class="dropdown-item">For drums</a>
            </div>
        </li>

    </ul>
</div>