{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <div class="allauth-header">
      <h2 class="logo-font mb-4">{% trans "Change Password" %}</h2>
    </div>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn btn-secondary" href="{% url 'home' %}">Home</a>
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
