{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <hr>
        <div class="row mt-3">
            <div class="container">
                <h2 class="text-black text-center mx-3">Get your subscription today!</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            {% for subscription in subscriptions %}
                <div class="col-lg col-md-6 col-sm-12 text-center">
                    <div class="container subscription-container my-3 position-relative bg-white p-3">
                        <div class="container-fluid inactive p-3{% if subscription.is_active %} d-none {% endif %}">
                            <h3 class="text-white text-center bg-danger">INACTIVE</h3>
                        </div>
                        <div class="container-fluid">
                            <h4 class="highlight-color">{{ subscription.name }}</h4>
                            <p>
                                <i class="fa-solid fa-calendar-days"></i>
                                {{ subscription.duration}} days
                            </p>
                        </div>
                        {% if subscription.image %}
                            <div class="subscription-img">
                                <img class="card-img-top img-fluid" src="{{ subscription.image.url }}">
                            </div>
                        {% endif %}
                        <div class="container-fluid align-bottom white-bg pb-3">
                            {% if subscription.promotional_price %}
                                <h6 class="strikethrough m-0">€{{ subscription.price }}</h6>
                                <h5 class="text-danger m-0">€{{ subscription.promotional_price }}</h5>
                            {% elif subscription.price == 0 %}
                                <h5 class="m-0">FREE</h5>
                            {% else %}
                                <h5 class="m-0">€{{ subscription.price }}</h5>
                            {% endif %}
                            {% if subscription.is_active %}
                                <a href="{% url 'buy_subscription' subscription.id %}" class="btn btn-main mb-2">
                                    <span>
                                        Subscribe
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                    </span>
                                </a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}